!!! 5
%head
  %title Haml + Sass Framework [@dankim]
  %meta{charset: "UTF-8"}
  %link{href: "stylesheets/df.css", media: "screen", rel: "stylesheet", type: "text/css"}
%body
  .container
    .circle
      .star-container
        .star1
        .star2
        .star3