!!! 5
%head
  %title Logos Using CSS Transforms [@dankim]
  %meta{charset: "UTF-8"}
  %link{href: "stylesheets/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}
%body
  .signals-container
    .group
      .circle
      .circle.push-right
    .group
      .vertical-connector
    .group
      .circle
      .horizontal-connector
      .circle
      .circle.push-right
    .group
      .vertical-connector.push-center
    .group
      .circle.push-center
    .cutout1
    .cutout2
    .cutout3
    .cutout4
    .cutout5
    .cutout6
  .df-container
    .df-circle
      .star-container
        .star1
        .star2
        .star3
  / .sl-container
  /   .flag.left-angle
  /     S
  /   .sl-box.flagpole-left
  /   .sl-box.flagpole-right
  /   .flag.right-angle
  /     L