!!! 5
%head
  %title Logos Using CSS Transforms [@dankim]
  %meta{charset: "UTF-8"}
  %link{href: "stylesheets/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}
%body
  .signals-container
    .row.group
      .box.circle
      .box.v-spacer.white
      .box.circle
      .box.v-spacer.white
      .box.white
    .row-spacer.group
      .box-spacer.v-connect.test
      .box-spacer.v-spacer.white
      .box-spacer.white
      .box-spacer.v-spacer.white
      .box-spacer.white
    .row.group
      .box.circle
      .box.v-spacer.h-connect
      .box.circle
      .box.v-spacer.white
      .box.circle
    .row-spacer.group
      .box-spacer.white
      .box-spacer.v-spacer.white
      .box-spacer.v-connect
      .box-spacer.v-spacer.white
      .box-spacer.white
    .row.group
      .box.white
      .box.v-spacer.white
      .box.circle
      .box.v-spacer.white
      .box.white
    .spacer1
    .spacer2
    .spacer3
    .spacer4
    .spacer5
    .spacer6
  .df-container
    .df-circle
      .star-container
        .star1
        .star2
        .star3