!!! 5
%head
  %title Logos Using CSS Transforms [@dankim]
  %meta{charset: "UTF-8"}
  %link{href: "stylesheets/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}
  %link{href: "http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css", media: "screen", rel: "stylesheet", type: "text/css"}
%body
  %p
    These have only been tested in recent versions of <a href="http://www.webkit.org/" title="Webkit">Webkit<a>. They'll likely break in other browsers.
  %a{href: "http://37signals.com", title: "37signals"}
    .signals-container#37signals
      .group
        .circle
        .circle.push-right
      .group
        .vertical-connector
      .group
        .circle
        .horizontal-connector
        .circle
        .circle.push-right
      .group
        .vertical-connector.push-center
      .group
        .circle.push-center
      .cutout1
      .cutout2
      .cutout3
      .cutout4
      .cutout5
      .cutout6
  %a{href: "http://daringfireball.com", title: "Daring Fireball"}
    .df-container#daring-fireball
      .df-circle
        .star-container
          .star1
          .star2
          .star3
  %a{href: "http://starterleague.com", title:" The Starter League"}
    .sl-container#starter-league
      .left-flag-container
        .flag-left
          S
        .sl-box.flagpole-left
        .flag-left-cutout
      .right-flag-container
        .flag-right
          L
        .sl-box.flagpole-right
        .flag-right-cutout
  %script{src: "http://php.dankim.org/dankim-org-ga.js", type: "text/javascript"}