!!! 5
%head
  %title Haml + Sass Framework [@dankim]
  %meta{charset: "UTF-8"}
  %link{href: "stylesheets/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}
%body
  .container
    .row.group
      .box.circle
      .box.v-spacer.white
      .box.circle
      .box.v-spacer.white
      .box.white
    .row-spacer.group
      .box-spacer.v-connect
      .box-spacer.v-spacer.white
      .box-spacer.white
      .box-spacer.v-spacer.white
      .box-spacer.white
    .row.group
      .box.circle
      .box.v-spacer.h-connect
      .box.circle
      .box.v-spacer.white
      .box.circle
    .row-spacer.group
      .box-spacer.white
      .box-spacer.v-spacer.white
      .box-spacer.v-connect
      .box-spacer.v-spacer.white
      .box-spacer.white
    .row.group
      .box.white
      .box.v-spacer.white
      .box.circle
      .box.v-spacer.white
      .box.white