!!! 5
%head
  %title Haml + Sass Framework [@dankim]
  %meta{charset: "UTF-8"}
  %link{href: "stylesheets/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}
%body
  .container.group
    .box
    .box-white.horizontal
    .box
    .box-white.horizontal
    .box-white
    
    .box.vertical
    .box-white.horizontal.vertical
    .box-white.vertical
    .box-white.horizontal.vertical
    .box-white.vertical
    
    .box
    .box.horizontal
    .box
    .box-white.horizontal
    .box
    
    .box-white.vertical
    .box-white.horizontal.vertical
    .box.vertical
    .box-white.horizontal.vertical
    .box-white.vertical
    
    .box-white
    .box-white.horizontal
    .box
    .box-white.horizontal
    .box-white