!!! 5
%head
  %title Haml + Sass Framework [@dankim]
  %meta{charset: "UTF-8"}
  %link{href: "stylesheets/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}
%body
  .container
    .box-white.absolute1
    .box-white.absolute2
    .box-white.absolute3
    .row.group
      .box.rounded
      .box-white.horizontal
      .box.rounded
      .box-white.horizontal
      .box-white
    .row.group
      .box-white.vertical
        .vertical-spacer
      .box-white.horizontal.vertical
      .box-white.vertical
      .box-white.horizontal.vertical
      .box-white.vertical
    .row.group
      .box.rounded
      .box.horizontal
        .horizontal-spacer
      .box.rounded
      .box-white.horizontal
      .box.rounded.top
    .row.group
      .box-white.vertical
      .box-white.horizontal.vertical
      .box-white.vertical
        .vertical-spacer  
      .box-white.horizontal.vertical
      .box-white.vertical
    .row.group
      .box-white
      .box-white.horizontal
      .box.rounded
      .box-white.horizontal
      .box-white