// *****
// VARIABLES
// *****
$font-size-base: 1em



// *****
// PLACEHOLDERS
// *****
%zero-margin
  margin: 0

%zero-padding
  padding: 0

%zero-box
  @extend %zero-margin
  @extend %zero-padding

%hide
  display: none



// *****
// STYLES
// *****
.group:before, .group:after
  display: table
  content: ""

.group:after
  clear: both

.group
  *zoom: 1



// *****
// MIXINS
// *****
@mixin border-radius($border-radius)
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius

@mixin cutout($height, $width, $translateX, $translateY, $border-radius, $background: white, $rotate: 0)
  height: $height
  width: $width
  background: $background
  +border-radius($border-radius)
  -webkit-transform: translate($translateX, $translateY) rotate($rotate)
  -moz-transform: translate($translateX, $translateY) rotate($rotate)
  -o-transform: translate($translateX, $translateY) rotate($rotate)
  transform: translate($translateX, $translateY) rotate($rotate)
  position: absolute
  top: 0
  left: 0

@mixin triangle($border-left, $border-right, $border-bottom, $rotate, $translateX, $translateY)
  width: 0
  height: 0
  border-left: $border-left solid transparent
  border-right: $border-right solid transparent
  border-bottom: $border-bottom solid #4A525A
  -webkit-transform: translate($translateX, $translateY) rotate($rotate)

@mixin flag-transform($rotate, $translateX, $translateY)
  -webkit-transform: rotate($rotate) translate($translateX, $translateY)
  -moz-transform: rotate($rotate) translate($translateX, $translateY)
  -o-transform: rotate($rotate) translate($translateX, $translateY)
  transform: rotate($rotate) translate($translateX, $translateY)
