@import "shared"

body
  width: 100%

// *****
// 37SIGNALS STYLES
// *****

.signals-container
  min-width: 480px
  width: 480px
  padding-left: 75px
  margin: 75px auto

.box
  height: 100px
  width: 100px
  float: left
  background: #231F20
  color: white
  // border: 1px solid red

.box-spacer
  @extend .box
  height: 50px

.circle
  +border-radius(50%)

.row
  width: 100%
  height: 100px

.row-spacer
  height: 50px

.v-spacer
  width: 50px

.white
  background: white

.v-connect
  -webkit-transform: scale(.65, 1.50)

.h-connect
  -webkit-transform: scale(1.50, .50)

.spacer1
  height: 83px
  width: 67px
  float: left
  background: white
  // border: 1px solid red
  -webkit-transform: translate(-34px, -316px)
  +border-radius(45%)

.spacer2
  height: 86px
  width: 67px
  float: left
  background: white
  // border: 1px solid red
  -webkit-transform: translate(-1px, -315px)
  +border-radius(45%)

.spacer3
  height: 80px
  width: 104px
  float: left
  background: white
  // border: 1px solid red
  -webkit-transform: translate(-65px, -295px)
  +border-radius(49%)

.spacer4
  height: 80px
  width: 87px
  float: left
  background: white
  // border: 1px solid red
  -webkit-transform: translate(-156px, -185px)
  +border-radius(49%)

.spacer5
  height: 99px
  width: 70px
  float: left
  background: white
  // border: 1px solid red
  -webkit-transform: translate(-218px, -175px)
  +border-radius(45%)

.spacer6
  height: 98px
  width: 67px
  float: left
  background: white
  // border: 1px solid red
  -webkit-transform: translate(-171px, -174px)
  +border-radius(45%)

// *****
// DARING FIREBALL STYLES
// *****

.df-container
  width: 500px
  height: 500px
  background: #4A525A
  padding: 50px
  margin: 100px auto

.df-circle 
  margin: 25px
  height: 450px
  width: 450px
  background: #DDDDDD
  +border-radius(50%)

.star-container
  -webkit-transform: translate(25px, 150px)

.star1
  width: 0
  height: 0
  border-left: 200px solid transparent
  border-right: 200px solid transparent
  border-bottom: 140px solid #4A525A
  -webkit-transform: rotate(35deg)

.star2
  width: 0
  height: 0
  border-left: 200px solid transparent
  border-right: 200px solid transparent
  border-bottom: 140px solid #4A525A
  -webkit-transform: translateY(-140px) rotate(-35deg)

.star3
  width: 0
  height: 0
  border-left: 50px solid transparent
  border-right: 50px solid transparent
  border-bottom: 130px solid #4A525A
  -webkit-transform: translate(150px, -395px)