/* line 29, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/_shared.sass */
.group:before, .group:after {
  display: table;
  content: ""; }

/* line 33, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/_shared.sass */
.group:after {
  clear: both; }

/* line 36, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/_shared.sass */
.group {
  *zoom: 1; }

/* line 4, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.container {
  width: 450px; }

/* line 7, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.box, .box-white {
  height: 100px;
  width: 100px;
  float: left;
  background: black;
  color: white; }

/* line 15, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.box-white {
  background: white;
  color: black; }

/* line 20, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.horizontal {
  width: 50px; }

/* line 23, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.vertical {
  height: 50px; }
