/* line 29, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/_shared.sass */
.group:before, .group:after {
  display: table;
  content: ""; }

/* line 33, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/_shared.sass */
.group:after {
  clear: both; }

/* line 36, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/_shared.sass */
.group {
  *zoom: 1; }

/* line 3, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.container {
  width: 450px;
  position: relative; }

/* line 7, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.box, .box-spacer {
  height: 100px;
  width: 100px;
  float: left;
  background: black;
  color: white; }

/* line 15, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.box-spacer {
  height: 50px; }

/* line 19, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

/* line 22, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.row {
  width: 100%;
  height: 100px; }

/* line 26, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.row-spacer {
  height: 50px; }

/* line 29, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.v-spacer {
  width: 50px; }

/* line 32, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.white {
  background: white; }

/* line 35, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.v-connect {
  -webkit-transform: scale(0.5, 1.5); }

/* line 38, /Users/dankim/dropbox/web/github/logo-transforms/stylesheets/styles.sass */
.h-connect {
  -webkit-transform: scale(1.5, 0.5); }
