@import "shared"

body
  width: 100%

// *****
// 37SIGNALS STYLES
// *****

.signals-container
  width: 500px
  position: relative

.box
  height: 100px
  width: 100px
  float: left
  background: #231F20
  color: white
  // border: 1px solid red

.circle
  @extend .box
  +border-radius(50%)

.push-right
  margin-left: 50px

.push-center
  margin-left: 150px

.box-thin
  @extend .box
  width: 50px

.box-short
  @extend .box
  height: 50px

.vertical-connector
  @extend .box-short
  -webkit-transform: scale(.65, 1.5)

.horizontal-connector
  @extend .box-thin
  -webkit-transform: scale(1.50, .65)

// +cutout($height, $width, $translateX, $translateY, $border-radius, $background: white)

.cutout1
  +cutout(84px, 67px, -35px, 83px, 45%)

.cutout2
  +cutout(84px, 67px, 68px, 83px, 45%)

.cutout3
  +cutout(80px, 104px, 72px, 99px, 49%)

.cutout4
  +cutout(80px, 104px, 72px, 222px, 49%)

.cutout5
  +cutout(97px, 70px, 107px, 227px, 45%)

.cutout6
  +cutout(97px, 67px, 223px, 227px, 45%)



// *****
// DARING FIREBALL STYLES
// *****

.df-container
  width: 500px
  height: 500px
  background: #4A525A
  padding: 50px
  margin: 100px 0

.df-circle 
  margin: 25px
  height: 450px
  width: 450px
  background: #DDDDDD
  +border-radius(50%)

.star-container
  -webkit-transform: translate(25px, 150px)

.star1
  +triangle(200px, 200px, 140px, 35deg, 0, 0)

.star2
  +triangle(200px, 200px, 140px, -35deg, 0px, -140px)

.star3
  +triangle(50px, 50px, 130px, 0, 150px, -395px)




// *****
// STARTER LEAGUE STYLES
// *****

.sl-container
  width: 500px
  margin: 100px auto
  padding-bottom: 300px

.sl-box
  @extend .box
  background: #C1272C
  text-align: center

.flag
  @extend .sl-box
  margin: 0 20px

.left-angle
  -webkit-transform: rotate(-20deg)

.right-angle
  -webkit-transform: rotate(20deg)

.flagpole
  height: 200px
  width: 20px
  margin: 0 10px
  
.flagpole-left
  @extend .flagpole
  -webkit-transform: rotate(-20deg) translate(20px, -13px)

.flagpole-right
  @extend .flagpole
  -webkit-transform: rotate(20deg) translate(-20px, -13px)

